.container {
  width: 100%;
  max-width: 1480px;    
  margin: 0 auto;       
       
 
}
@media (max-width: 1499px) {
  .container {
    max-width: 1960px;
    padding: 0 16px;
  }
}

 
@media (max-width: 1224px) {
  .container {
    max-width: 1960px;
    padding: 0 16px;
  }
}


 
@media (max-width: 1024px) {
  .container {
    max-width: 960px;
    padding: 0 16px;
  }
}

 
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 14px;
  }
}