.featured-section {
  padding: 60px 15px;
  background: #fff;
  
}

 
.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.featured-arrows {
  display: flex;
  gap: 10px;
}

.featured-prev,
.featured-next {
  width: 38px;
  height: 38px;
  border: 1px solid #6dbd45;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.featured-prev:hover,
.featured-next:hover {
  background: #6dbd45;
  color: #fff;
}

 
.product-card {
  background: #f5f5f5;
  border-radius: 14px;
  border: 1px solid #e5e5e5;
  position: relative;
  transition: 0.3s ease;
  height: 100%;

}

 

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(35, 35, 35, 0.114);
}

 

 
.discount-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #f2c94c;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
}

 
.product-img {
  text-align: center; 
   padding-top: 12px;
 
}

.product-img img {
     border-radius: 14px;
 
  width: 90%;
  height: 180px;
  object-fit: contain;
}

 
.product-content {
  padding: 0 20px;
  padding-bottom: 20px;
}

.product-content h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
  font-weight: 700;
}

.product-weight {
  font-size: 13px;
  color: #777;
  margin-bottom: 8px;
  font-weight: 600;
}

.price-row {
  margin-bottom: 12px;
}

.new-price {
  color: #e53935;
  font-weight: 700;
  font-size: 18px;
  margin-right: 8px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}

 
.cart-row {
  display: flex;
  gap: 10px;
}

.cart-row input {
  width: 60px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.add-btn {
  flex: 1;
  border: 1px solid #6dbd45;
  background: transparent;
  color: #6dbd45;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-btn:hover {
  background: #6dbd45;
  color: #fff;
}



.discount-section {
  padding: 60px 15px;
  background: #ffffff;
}

.discount-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.expired-text {
  font-size: 14px;
  color: #888;
}

 
.discount-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  background-color: rgba(255, 0, 0, 0.039);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 0, 0, 0.361);
  margin-top: 3rem;
}

 
.discount-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner {
  position: relative;
  border-radius: 14px;
  padding: 40px;
  
  min-height: 220px;
 
  display: flex;
  align-items: center;
  color: white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.banner-orange {
  background: linear-gradient(135deg, #f39c12, #e67e22);
}

.banner-green {
  background: linear-gradient(135deg, #2ecc71, #27ae60);
}

.banner-content h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.banner-content h2 {
  font-size: 32px;
  margin: 0;
}

 
.discount-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

 
.horizontal-card {
  display: flex;
  gap: 20px;
  background: #fff;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 14px;
  padding: 20px;
  position: relative;
  transition: 0.3s ease;
}

.horizontal-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

 
.card-image {
  position: relative;
  width: 120px;
  flex-shrink: 0;
}

.card-image img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

 
.ribbon {
  position: absolute;
  top: -5px;
  left: -5px;
  background: #f2c94c;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

 
.card-details h4 {
  font-size: 15px;
  margin-bottom: 6px;
}

.weight {
  font-size: 13px;
  color: #777;
  display: block;
  margin-bottom: 8px;
}

.price {
  margin-bottom: 10px;
}

.price .new {
  color: #e53935;
  font-weight: 700;
  font-size: 18px;
  margin-right: 8px;
}

.price .old {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}

.cart-row {
  display: flex;
  gap: 10px;
}

.cart-row input {
  width: 60px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.cart-row button {
  flex: 1;
  border: 1px solid #6c9c2f;
  background: transparent;
  color: #6c9c2f;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cart-row button:hover {
  background: #6c9c2f;
  color: white;
}

 

@media (max-width: 1024px) {
  .discount-layout {
    grid-template-columns: 1fr;
  }

  .discount-right {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .discount-right {
    grid-template-columns: 1fr;
  }

  .featured-header {
  display: flex;
   gap: 2rem;
  align-items: center;
   flex-direction: column;
}

.featured-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.featured-buttons button {
  
  font-weight: 200;
  transition: 0.3s ease;
}

  .horizontal-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-image {
    width: 100px;
  }
}



 
.featured-buttons {
  display: flex;
  gap: 12px;
}

.featured-buttons button {
  padding: 8px 16px;
  border: 1px solid #6dbd45;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.featured-buttons button:hover {
  background: #6dbd45;
  color: #fff;
}

.active-btn {
  background: #6dbd45 !important;
  color: #fff;
}

 
.product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

 
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 499px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}




 

.discount-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.discount-card {
  flex: 1 1 calc(25% - 20px);
  min-width: 280px;
  min-height: 350px;
 
  border: 1px solid rgb(155, 154, 154);
  border-radius: 16px;
  position: relative;  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.discount-content {
  position: relative;
   padding: 30px;
  z-index: 2;  
  pointer-events: none;  
}

.discount-tag {
  background: #62993e;
  color: #fff;
  padding: 4px 12px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 15px;
}

.discount-card h3 {
  font-size: 22px;
  font-weight: 800;
  color: #1a1a1a;
  line-height: 1.3;
  margin-bottom: 20px;
}

.discount-card h3 .subtitle {
  color: #62993e;  
  font-weight: 400;
}

.shop-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  pointer-events: auto;
}

.plus-icon {
  background: #62993e;
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

 
.card-image-wrapper {
  position: absolute;
  width: 100%;  
  height: 100%;
  z-index: 1;
}

.bg-product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;  
  object-position: right bottom;
}

.card-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
  z-index: -1;  
  opacity: 0.8;  
}

.discount-content {
  position: relative;
  z-index: 2;
}

 
@media (max-width: 1200px) {
  .discount-card {
    flex: 1 1 calc(50% - 20px);  
  }
}

@media (max-width: 600px) {
  .discount-card {
    flex: 1 1 100%;  
    min-height: 280px;
  }
}