body{
    font-family:  'Nunito sans', 'Numans', 'Poppins';
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.header{
  border-top: #333 solid;
  border-bottom: 1px solid #ddd;
}

.header-content{
    background-color: white;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    padding:  1rem 4rem;
    display: flex;
    align-items: center;

}

.hover-buttons {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

 
.icon-wrapper {
  position: relative;
  
}

.icon-button {
  position: relative;
  width: 100%;
  padding: 10px;
 
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

 

.icon-button i {
  font-size: 18px;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #fed700;
  color: #fff;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
  font-weight: bold;
}

 
.dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  width: 340px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.dropdown-content h4 {
  margin-bottom: 20px;
  font-weight: 600;
}

.subtotal-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 500;
}

.progress-bar {
  height: 6px;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px;
}

.progress-fill {
  width: 0%;
  height: 100%;
  background: #fed700;
}

.shipping-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.primary-btn {
  width: 100%;
  background: #fed700;
  border: none;
  padding: 12px;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn:hover {
  background: #fed700;
}


.HoverButtonsDiv{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon-wrapper {
  position: relative;
  cursor: pointer;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 6px;
}

.number {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  padding: 15px;
  width: 220px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-wrapper {
  flex: 1;
  max-width: 800px;
  margin-left: 2rem;
  display: flex;
  align-items: center;
   background-color: #fed700;
   border-radius: 28px;
    outline: none;
    gap: 1.5rem;
}

.search-input {
  width: 90%;
  padding: 12px 18px;
  font-size: 16px;
  border: 2px solid #fed700;
  outline: none;
  background-color: white;
  border-radius: 30px  0 0 30px;
  transition: all 0.2s ease;
}

.search-input:focus {
  border-color: #ffb31b;
  background-color: #fff;
}

 
 
.new-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  
}

.new-badge {
  position: absolute;
  top: -14px;
  right: -15px;
  font-size: 12px;
  color: #fed700;
  font-weight: 700;
}

 
.trending {
  font-weight: 700;
  color: #333;
   padding: 25px 0px;
   cursor: pointer;
}

.promo-box{
 position: relative;
  background: #fed700;
    padding: 10px 20px;
  display: flex;
   align-items: center;
     color: white;
  gap: 10px;
  font-weight: 600;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
   
}

.promo-section {
  position: relative;
  background: #ffffff;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  margin: 40px auto;
}

 
.promo-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center;
}


.promo-section span{
  cursor: pointer;
}
 
.sale-badge {
  background: white;
  color: #fed700;
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 600;
}



 
.dropdown-parent {
  position: relative;
}

.mega-menu {
  position: absolute;
  left: -12rem;
  top: 250%;
  width: 100vw;
  background: white;
  padding: 40px 60px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 0.35s ease;
  z-index: 999;
}

.mega-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.mega-container {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

 
.mega-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 180px;
}

.mega-column h4 {
  font-size: 18px;
  color: #6dbd45;
  margin-bottom: 10px;
}

.mega-column a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.2s;
}

.mega-column a:hover {
  color: #fed700;
}
 
.mega-promo {
  margin-left: auto;
  background: #f3efe4;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

.mega-promo h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.mega-promo button {
  background: #6dbd45;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.mega-promo button:hover {
  background: #5aa637;
}

 
.mobile-toggle {
  display: block;
  font-size: 22px;
  cursor: pointer;
  padding-top: 15px;
}

 
 
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: white;
  box-shadow: -5px 0 20px rgba(0,0,0,0.1);
  transition: 0.4s ease;
  z-index: 2000;
  padding: 20px;
}

.mobile-sidebar.open {
  left: 0;
}

.closebtn{
   
  color: #7b7a7a;
  cursor: pointer;
}

.mobile-menu-content {
  flex: 1;
  overflow-y: auto;
  padding: 0 20px;
}

 
.categories-list {
  margin-top: 10px;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0; 
}

.chevron {
  font-size: 12px;
  color: #aaa;
  transition: 0.3s;
}

.chevron.rotate { transform: rotate(180deg); }

.sidebar-footer{
    display: flex;
    align-items: flex-end;
    height: 10%;
    justify-content: center;

}
 
.footer-links {
  z-index: 2;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14px;
  color: #000000;
}

.footer-links a {
  text-decoration: none;
  color: inherit;
}

.info-icon {
  border: 1.5px solid #000000;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}

 
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.mobile-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}



.mobile-dropdown-title {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-weight: 600;
  cursor: pointer;
}

.mobile-submenu {
  padding-left: 15px;
}

.mobile-submenu a {
  font-weight: 500;
  padding: 8px 0;
  background-color: #c3f5cc;
  margin-bottom: 10px;
  border-radius: 2px;
  padding: 10px;
  
}

 
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1500;
}

.searchButton{

  display: flex;
}

.searchIcon{
  width: 20px;
  height: 20px;
}



 
.secondary-nav {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ededed;
  font-family: 'Open Sans', sans-serif;
}

.nav-bold {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #333e48;
  text-decoration: none;
  margin-bottom: 20px;
}

@media (max-width: 1045px) {
  .secondary-nav {
    display: none;  
  }
}

.nav-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  
}

 
.departments-wrapper {
  position: relative;
  height: 100%;
}

.departments-trigger {
  background-color: #fed700;  
  height: 100%;
  padding: 0 25px;
  padding-right: 9rem;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #333e48;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  margin-right: 3rem;
}

 
.vertical-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 306px;
  background: white;
  border: 1px solid #ededed;
  border-top: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 100;
  padding: 10px 0;
  border-radius: 0 0 8px 8px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  color: #333e48;
  cursor: pointer;
  border-bottom: 1px solid #f8f8f8;
}

.menu-item:hover {
  background-color: #f5f5f5;
}

.menu-item:last-child {
  border-bottom: none;
}

.bold-text {
  font-weight: 700;
}

.arrow-icon {
  font-size: 10px;
  color: #ccc;
}

 
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0 30px;
  padding: 0;
}

.nav-links li {
  font-size: 14px;
  font-weight: 700;
  color: #333e48;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.super-deals {
  color: #dd1e31 !important;  
}

.chevron-down {
  font-size: 8px;
}

 
.shipping-text {
  margin-left: auto;
  font-size: 13px;
  color: #777;
  margin-top: 15px;

}




 
.promo-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px 30px;
  padding-right: 36px;
  border-radius: 8px;  
  background: #ffffff; 
  border: 1px solid #e5e5e5; 
  cursor: pointer;
 
  flex: 1 1 230px; 
  max-width: 300px; 
}
.logoContainer{
    display: flex;
    align-items: baseline;
    gap:4px;
}
.logoContainer h2 {
    color: rgba(0, 0, 0, 0.831);
    font-family: 'Poppins','Inter', sans-serif;
    font-size: 43px;
}

.roundcircle{
    width: 10px;
    height: 10px;
    border-radius: 1000%;
    background-color: #fdd700;
}


.hamburger_wrapper{
    margin-left: 4rem;
}

.hamburger_wrapper img{
    width: 40px;
}


.promo-card:hover {
  background: #fbfbf1; 
  border-color: #fed700; 
  transform: translateY(-3px);
}
 
.promo-icon img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

 
.promo-content h4 {
  font-size: 12px;
  font-weight: 700;
  color: #222; 
  margin: 0 0 2px 0;
}

.promo-content p {
  font-size: 10px;
  color: #7d879c; 
  margin: 0;
}




/* NEWSLETTER */
.newsletter {
  background: #f7c600;
  padding: 20px 5%;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.newsletter-left h3 {
  font-weight: 500;
}

.newsletter-left span {
  margin-left: 5px;
  font-weight: 400;
}

.newsletter-right {
  display: flex;
  gap: 10px;
}

.newsletter-right input {
  padding: 12px 15px;
  border-radius: 30px;
  border: none;
  width: 250px;
}

.newsletter-right button {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  background: #2c3e50;
  color: #fff;
  cursor: pointer;
}

/* MAIN FOOTER */

.footer{
   margin-top: 6rem;
}

.footer-main {
  background: #f5f5f5;
  padding: 60px 5%;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

.footer-col h4 {
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  
  padding: 0;
  
}

.footer-col ul li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
   color: #000000cd;
  font-weight: 300;
}

.footer-col ul li:hover {
  color: #f7c600;
}

/* BRAND COLUMN */
.logo {
  font-size: 32px;
  font-weight: bold;
}

.logo span {
  color: #f7c600;
}

.phone {
  margin: 10px 0 20px;
}

.socials span {
  margin-right: 10px;
  cursor: pointer;
}

/* BOTTOM BAR */
.footer-bottom {
  background: #eaeaea;
  padding: 15px 5%;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payments span {
  margin-left: 10px;
  background: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .newsletter-container {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 576px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom-container {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter-right input {
    width: 180px;
  }
}


 

@media (max-width: 880px) {
  .promo-card { 
  gap: 15px;
  padding: 15px 20px;
  }

  .hamburger_wrapper{
    margin-left: 1rem;
}
}

@media (max-width: 480px) {
  .promo-card {
    flex: 1 1 100%; 
    max-width: 100%;
  
  gap: 15px;
  padding: 25px 30px;
  padding-right: 36px;
  }

    .hamburger_wrapper{
    margin-left: 0;
}
}








@media (max-width:1184px) {
    .trending, .new-item {
      display: none;
    }

      .cartPrice{
    display: none;
  }
}

@media (max-width: 990px) {
  .desktop-only {
    display: none !important;
  }


 

 

  .search-wrapper{
     display: none;
  }

  .searchButton{
  padding: 17px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  }
}

 
.hours p {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}
 
 
.scroll-top {
  position: fixed;
  right: 50px;
  bottom:  40px; 
  height: 40px;
  background: #ffffff;
  border: 1px solid #ffea00;
  border-radius: 10px;
  background-color: #e6d250;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.064);
  cursor: pointer;
  z-index: 10;
}

.scroll-top  img {
   width: 20px;
   height: 20px;
}

 
@media (max-width: 768px) {
 
  
  .scroll-top {
    right: 20px;
  }
}
