@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Numans&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shippori+Antique&display=swap');

 
*{
  box-sizing: border-box;
}

html, 
body,
#root,
.app {  
  margin: 0;
  padding: 0;
}


body{
    background: #fafafa;
    color: black;
    
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.text-heading {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.text-heading h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1f2d1f;  
  margin: 0;
}

.text-heading p {
  font-size: 14px;
  color: #777;
  margin: 0;
}

 
@media (max-width: 768px) {
  .text-heading h2 {
    font-size: 24px;
  }
}


 
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

 
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

 
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}


